<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat Your Way</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="navigation">
        <a href="/shoppingList" class="nav-btn">
            <span>My shopping List</span>
            <img src="assets/icons/planning-illustration.svg" alt="shopping list">
        </a>
        <a href="/mealPlan" class="nav-btn">
            <span>Go to Meal Planner</span>
            <img src="assets/icons/meal-plan-illustration.svg" alt="meal plan"/>
        </a>
    </div>
</body>
</html>